body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2{
    
    font-size: 2rem;
    margin-bottom: 40px;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    margin: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

.card-content p {
    color: #666;
    font-size: 0.9em;
    line-height: 1.4;
}

.card-content a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.card-content a:hover {
    text-decoration: underline;
}

.asjinbdhagsd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
}